[2018-07-09 12:20] vtolstov opened #3 "set ipv6 slaac ra and dhcp v4"
Hi. I'm try to use this package to provide network for my libvirt vm. How can i add dhcp info to specific port?
Also - do you have roadmap or some plans to enhance this package?

[2018-07-09 12:30] vtolstov commented on #3
Also can you share via issues task needed to be done for L3 support.

[2019-02-08 01:11] hzhou8 commented on #3
Current APIs supports limited interfaces only. They should be either added on-demand, or change the implementation to be able to handle flexible parameters. PRs are welcome for both.

[2019-03-05 11:22] vtolstov opened #8 "change interface to not fatal or panic"
What do you think about changing interface to return error and not doing fatal/os.Exit and panic?
I can provide pr to change interface definition and after that add ability to get/set dhcp options and other stuff

[2019-03-05 18:10] softwarejl commented on #8
It's a good idea, please do not hesitate to submit your patches.

[2019-03-11 13:01] vtolstov opened #13 "move sources from goovn to top level dir"
I'm prepare patches to error handling, does it possible after that move goovn sources to top-level dir? I don't now understand why created goovn dir from the beginning.

[2019-03-11 21:43] vtolstov commented on #8
can i change strconv.Itoa(rand.Int() to google uuid.NewRandom() ?
i think that this is more suitable for such things

[2019-03-11 23:00] vtolstov commented on #8
pr is created

[2019-03-11 23:36] hzhou8 opened #15 "Support SSL"
Currently only TCP and Unix socket are supported, which doesn't satisfy security needs in some use cases.

[2019-03-12 17:04] vtolstov opened #16 "logical router questions"
may be i miss something, but how can looks type LogicalRouter struct ?
[code]

or i'm wrong?

[2019-03-12 17:14] hzhou8 commented on #13
I don't remember the reason, but I guess it is ok to move to top level, if it helps shortening the module path. However, it creates backward compatibility problem, too, just like API change.

[2019-03-12 18:45] softwarejl commented on #16
[code]
this is the table define in the spec.  could we add more in the struct?

and how about to implement all thing about logical router,  such as logical port, or static router?

what's the suggestion?

[2019-03-12 19:19] vtolstov commented on #16
I see that logical switch table contains more elements than defined in struct, so i dont understand why..

[2019-03-12 19:41] vtolstov commented on #13
May be integrate go mod , and switch path?as if we branch v1 this is fine i
think.

вт, 12 мар. 2019 г., 20:14 Han Zhou <notifications@github.com>:

[2019-03-12 23:14] hzhou8 commented on #13
Sorry I am not familiar with go mod. I will read and get back to you.

[2019-03-12 23:23] hzhou8 opened #18 "Support multiple API calls in one transaction"

[2019-03-13 12:56] vtolstov commented on #16
I think that options can be representet via map[string]string or map[interface{}]interface{}

When create new logical router simply iterate over map keys and check them, if it not in allowed list returns error like ErrorBadRequest, i'm prefer for typed errors because it can be easy compared.

[2019-03-13 12:57] vtolstov commented on #18
I think that when we pass multiple commands it runs in single transaction...

[2019-03-13 14:12] hzhou8 commented on #18
Yes, this is the desired behavior, but it is not supported yet.

[2019-03-13 18:01] noah8713 commented on #15
code @ https://github.com/eBay/go-ovn/pull/17

[2019-03-13 18:40] vtolstov commented on #13
This is next step i think for me, after that I'm plan to split ovnnbimp to logical pieces.

[2019-03-14 07:49] #8 closed

[2019-03-14 07:49] #3 closed

[2019-03-14 22:16] vtolstov opened #23 "forking libovsdb"
what do you think about forking libovsdb to Ebay namespace, add needed patches and use it on go-ovn without vendoring dir patching?

[2019-03-15 04:06] hzhou8 opened #24 "Support connecting to clustered DB"
Support connecting to clustered DB using comma separated connection string, i.e. \<method1\>,\<method2\>,...,\<methodN\>

[2019-03-15 04:08] hzhou8 opened #25 "Support connect to clustered DB leader only"
Support option leader_only when connecting to a clustered DB so that only connection to leader is accepted.

[2019-03-15 04:09] hzhou8 commented on #23
Yes, this is the plan. We are working on the process.

[2019-03-15 09:44] vtolstov opened #26 "broken update notifications"
I don't understand when tests are broken, but i'm check commit d91fdd20089671059e0201f604f3de3449b52f55 and it already broken
[code]

[2019-03-15 09:45] vtolstov commented on #26
i'm test this commit because it before my changes

[2019-03-15 10:16] vtolstov commented on #26
i found root case of issue, update received something later , so test function check item before update received.
I think that if cache is missed, we need directly get data from ovn

[2019-03-15 12:58] vtolstov commented on #26
or add some flag to wait sync...
@hzhou8 @softwarejl do you have some solution?

[2019-03-15 18:39] hzhou8 commented on #26
It is an known issue and already fixed by fixing rpc2 (which was merged upstream: https://github.com/cenkalti/rpc2/commit/09ab3e86ec385d21488d0315a98c51dd3b71a27f) and then fixing libovsdb to use the new parameter (which was not merged upstream). The libovsdb fix was updated directly in our vendor folder (which was bad way of managing, and we are working on forking it under ebay). The PR is breaki

[2019-03-15 19:11] vtolstov commented on #26
do you know latest working commit?

[2019-03-15 19:12] vtolstov commented on #26
p.s. i'm doing major rewrite internals of this package and may be after next hours can push fixed pr.
most things be more easy to write and understand via some helper like odbi.insertRowOp(table, row) and so

[2019-03-15 19:53] vtolstov commented on #26
yes, i found. this is ssl stuff breaks. after rework missed piece c.SetBlocking(true), i'm add it to own branch.

[2019-03-15 19:53] #26 closed

[2019-03-16 15:32] #15 closed

[2019-03-17 10:19] #13 closed

[2019-03-19 09:29] vtolstov opened #29 "external_ids support when creating items"
What you position about api in case of external_ids ? As i see ovn-nbctl does not provide in command line ability to set external_ids, but in case of api case this is really needed feature, to allow link internal own db id/uuid with ovn item.

Now i'm think about modify api and all functions that modify/create/delete items receives not ovn-nbctl options, but pointer tu needed struct.
So instead of

[2019-03-19 19:24] vtolstov commented on #29
we can use https://godoc.org/github.com/mitchellh/mapstructure to convert from map[string]interface

[2019-03-19 20:45] vtolstov commented on #23
any news?

[2019-03-19 20:53] vtolstov commented on #23
needed for #30

[2019-03-19 22:36] vtolstov commented on #23
i'm forking to github.com/unistack-org/libovsdb and import related pr from original repo (ssl, blocking mode, and some other). i can transfer repo to you, but as i understand i need confirmation from you to this stuff

[2019-03-19 23:43] hzhou8 commented on #23
Sorry for the delay since there was some internal process to go through. Now it is forked to https://github.com/eBay/libovsdb

[2019-03-19 23:43] #23 closed

[2019-03-20 07:06] vtolstov commented on #29
@hzhou8 any suggestions?

[2019-03-20 20:31] vtolstov commented on #29
@softwarejl what do you think about interface changes? another thing not pass struct is use option like feature.
So for each ovn table we have item Option, and passing it to Delete, Create, Update methods, slice of such options set struct row items.
Drawback for this - for each uniq item in struct we need to have different option. So this is many options.

[2019-03-25 23:10] #16 closed

[2019-03-25 23:11] vtolstov commented on #16
struct already have all schema elements

[2019-03-26 11:01] vtolstov commented on #29
@hzhou8 @softwarejl i need you approve and suggestions. This is not small task, but it don't need too much time to provide WIP for this.

[2019-03-26 15:31] hzhou8 commented on #29
@vtolstov I support this idea! @softwarejl and I had discussed about having more generic API interface many times, just didn't get bandwidth to work on it. Maybe you could have a POC first. @softwarejl what do you think?

[2019-03-26 21:52] softwarejl commented on #29
Yes, we need to improve on that part, beside the interface, we need a way to define the data structure which aligns  with ovn table structure. we need a poc firstly.

[2019-03-27 18:38] hzhou8 opened #36 "List operations should get from cache instead of new transaction"
A new transaction with opSelect is used for list operations for dhcp_options and logical_switches, which is not necessary, and maybe create inconsistency with local cache. All reads should from cache directly.

[2019-03-27 18:41] hzhou8 opened #37 "Use mutation for adding/removing addresses to/from address set"
Complete updating an address set can be inefficient, considering the size of an address set can be huge. New APIs should be provided to add/remove addresses to/from an address set.

[2019-03-27 20:47] vtolstov commented on #36
i'm try to fix this

[2019-03-27 20:59] vtolstov commented on #36
fix in #38

[2019-03-29 14:28] vtolstov opened #41 "add some method to check connection alive"
For persistent connection we need to have some method to understand connection status (alive or not), may be with optional callback to ability to reconnect.

[2019-03-29 14:55] vtolstov commented on #41
as i see, we can utilize https://github.com/eBay/go-ovn/blob/master/ovnnotify.go, may be provide some time.Duration for heartbeat between client<->server (for echo, and if it not received with needed time, invalidates conn and hook callback?)

[2019-03-29 16:28] vtolstov commented on #41
may be pass something like this to GetInstance
type Handler struct {
  Disconnected(interface{})
}

so use can handle this and reconnect?

[2019-03-29 21:00] vtolstov commented on #41
@hzhou8 i think that we need to decide some interface how to pass disconnect handler.
I think that we need to have some Config struct with ovn endpoint address in url.URL format, may be ssl credentials like ca, cert, key. and pointer to disconnect handler.
What you think?
So to create instance we need to call c, err := ovn.Client(&Config{xxx})

[2019-03-30 20:52] #36 closed

[2019-03-30 20:52] vtolstov commented on #29
first change in this series #42

[2019-04-16 22:06] vtolstov commented on #29
@hzhou8 this is first part of storing in cache needed struct https://github.com/eBay/go-ovn/pull/44/files#diff-48d527baa1a7dc53e558c5548785cf1bR277

[2019-04-16 22:08] vtolstov commented on #29
i think that if we store needed type inside cache all thing can be very simple.
next sep is write helper to check if some struct holds in another (so we can pass LogicalSwitch with only uuid setted and get back full row from cache if it exists)

[2019-04-16 22:09] vtolstov commented on #29
if somebody want helps me , i'l be happy =)

[2019-04-17 16:33] hzhou8 commented on #29
@vtolstov Thanks for the effort. Could you complete the POC with just one end-to-end example, e.g. LogicalSwitchPort create/read/update/delete with the new approach? That would be very helpful for me to understand, since I am not sure yet if I understand what the helper function means exactly.

[2019-04-17 22:26] vtolstov commented on #29
@hzhou8 check ovnnbimp.go and acl.go
main thing - i'm parse map[string]interface{} and convert it to needed struct and store it in cache,
when i need to find needed row i'm check via reflection all fields in passed row and check such row in cache.
now this is POC so not all fine, but main parts ready.

[2019-04-22 20:14] vtolstov commented on #29
@hzhou8 what can you say?

[2019-04-23 23:12] hzhou8 commented on #29
@vtolstov this looks awesome! It simplifies a lot for the conversions. I think most of the code is generic for ovsdb, so it can actually be in libovsdb. For OVN part, it would be even better if we can generate the data types from schema, instead of manually write it (but it is totally ok now as the first step).

[2019-04-23 23:14] hzhou8 commented on #29
I think we should have two sets of "get" methods. One is get by uuid, another is "find" by any combination of column values.

[2019-04-24 13:05] vtolstov commented on #29
Ok, so for now may be i can complete rewrite via ovn repo? And after that when all works fine we can move needed parts of code to libovsdb and change some parts of go-ovn?
Generation types from /usr/share/openvswitch/ovn-nb.ovsschema is fine for me, this is error prone and cam be used via go generate step.
About two get method -thanks,  this is good.

[2019-04-24 13:33] vtolstov commented on #29
last question, does we need to support nested values in ExternalIDs?
As i know for neutron case this is needed, so i also need to create some recursive function to check nested values... (but for POC now needed now).

[2019-04-24 17:57] hzhou8 commented on #29
Do you have an example? I think we should support whatever column types can appear in OVSDB schema. (Of course it doesn't have to be complete in the first version)

[2019-04-24 20:13] vtolstov commented on #29
I can't find example now, but as i see in libovsdb map represented as map[string]interface{} , but ovn-nb says:
[code]

so may be recursion is not needed

[2019-04-24 21:38] hzhou8 commented on #29
Yes, the schema defines as:
                "external_ids": {
                    "type": {"key": "string", "value": "string",
                             "min": 0, "max": "unlimited"}}},
So the value must be string.
In fact, checking OVSDB RFC7047, it is not possible to have nested values:
   <type>
      The type of a database column.  Either an <atomic-type> or a JSON
      object that describ

[2019-07-11 08:41] JackyCZJ commented on #29
So happy to see this issue after write some code like this 🤣
[code]

[2019-07-23 02:13] fanux opened #52 "How to set logic bridge other-configs?"
[code]
We need dynamic IP address:
[code]
So has a set logic switch other_config API？

[2019-07-23 09:23] vtolstov commented on #52
no, this is not supported now. in near feature i can provide pr for that stuff, or you (if you can).

[2019-07-24 01:21] fanux commented on #52
I am not familiar with the ovn north API, do you have some reference about it?

[2019-07-24 06:34] JackyCZJ commented on #52
@fanux  -> [ovs-doc](https://www.openvswitch.org/support/dist-docs/)

[2019-07-25 09:05] JackyCZJ opened #55 "DHCP_Options_SET have no effect"
after
[code]
I try to
[code]
but it take no effect .

in ovn-nbctl
[code]
and I find it cidr is not unique , may need to set it by use uuid ?

[2019-07-25 09:14] vtolstov commented on #55
yes, i see that set is buggy. we need to have first arg uuid of options and not cidr.

[2019-07-25 09:19] vtolstov commented on #24
this is already solved in libovsdb.

[2019-07-25 09:19] #24 closed

[2019-07-25 11:51] JackyCZJ commented on #55
i send a pr to fix it , PTAL

[2019-07-26 16:40] vtolstov commented on #55
thanks, #56 merged

[2019-07-26 16:40] #55 closed

[2019-07-30 03:34] JackyCZJ opened #60 "Meter and Meter bands method design problem."
I try to write meter and meter bands , now the problem is ``ovn-nbctl`` can only set one bands of each meter . and i see doc of ``ovn-nbctl`` said other ctl can set mutpli bands in one meter . So I wonder if we should follow ``ovn-nbctl`` or write own method to set meter and meter bands ?

you can check this patch , if anything ok ,  I will send a pr.
https://github.com/JackyCZJ/go-ovn/commit/7685

[2019-07-30 19:20] vtolstov commented on #60
if that possible via api of ovn i think that we need to support this. ovn-nbctl is like example client for us,i think

[2019-07-31 09:32] JackyCZJ commented on #60
#61

[2019-08-03 04:09] #60 closed

[2019-08-12 08:21] JackyCZJ opened #62 "Tag version and ACLList miss meter and severity filed."
Currently master branch may dependent by orther project , I think it should tag like v1.0.0 for better go mod support?

acl list can't show meter and severity .
https://github.com/eBay/go-ovn/blob/ca0da4d10c5264e6bb8083566be39f5bc7bd7181/acl.go#L24-L31

it miss meter filed
[code]

[2019-08-14 01:23] hzhou8 commented on #62
@JackyCZJ Thanks for reporting this issue. It seems you are reporting 2 issues here?

1. You want to tag a version.

2. ACLList misses the meter and severity fields.

Do you mean you want a tag *before* the new fields are added to ACLList?

[2019-08-14 01:41] JackyCZJ commented on #62
I think it is better that fix some problem before tag a version . maybe i should take two issue XD

[2019-08-14 02:02] hzhou8 commented on #62
I see. Sure, we can tag it as soon as the issues are fixed. Would like to send a patch for the missing meter fields?

[2019-08-14 02:10] JackyCZJ commented on #62
I can send it , and this patch have two change ,
 1. add meter and meter band support.
 2. fix miss field.
should i send two pr or just mix at one?

and there have a pr name test , it seems a big change to this project , i think you can take a look to this pr #59

[2019-08-14 07:04] hzhou8 commented on #62
It is always good to have separate PRs for different problems. It is ok to have a single PR for related problems, if one fix depends on another one, but each problem should have a separate commit. In this case, you may send one PR with 2 commits. (or 2 PRs are ok if there is no dependency between them)

[2019-08-14 07:06] hzhou8 commented on #62
Yes, I am looking at #59 but it seems not ready and I also need more time :)

[2019-08-15 10:12] JackyCZJ commented on #62
thank! i will take my time for this patch

[2020-03-27 05:26] fyuan1316 opened #80 "panic on cacheACL type assertion in example"
os:
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.4 LTS
Release:	18.04
Codename:	bionic

ovn-nbctl (Open vSwitch) 2.9.5
DB Schema 5.10.0

ovn-sbctl (Open vSwitch) 2.9.5
DB Schema 1.15.0

#### how to reproduce:

go run examples/main.go

#### error message
[code]

[2020-04-06 22:14] #80 closed

[2020-04-17 20:21] #18 closed

[2020-05-12 03:35] ftiannew opened #85 "ovndbapi.LRSRList cannot get route policy"
so I can't distinguish if the route is src-ip or dst-ip。

[2020-06-18 00:16] hzhou8 opened #89 "client.Close() should handle cache release and remove the disconnect callback."
Maybe this API is not needed in most situation. However, current implementation has problems:

1) It doesn't cleanup resources and doesn't preventing the other APIs to continue reading the data. The expected behavior should be cleanup all the cache and all the later API calls for read/write data should fail.

2) Currently we have auto-reconnect supported. This API need to reset the disconnect call

[2020-07-16 14:57] alexanderConstantinescu opened #92 "Re-work API to support full object modifications"
Currently this library supports modifying a small aspect of all OVN objects, which makes it quite unusable in certain use cases. Ex:

Logical Routers in OVN currently have these fields:

[code]

Now, these fields are internally modifiable and supported by the library as we can see here:  https://github.com/eBay/go-ovn/blob/master/logical_router.go#L26

However, the CRUD operations exposed by the A

[2020-07-16 15:37] vtolstov commented on #92
if you start and provide simple one object changing to new interface we can check it. I'm try sometimes ago to do something usable in this pr https://github.com/eBay/go-ovn/pull/59 but not have time to finish. And as i saw  create all options blows code

[2020-07-17 17:21] hzhou8 commented on #92
@alexanderConstantinescu  Thanks for bringing this up. Currently the APIs are modeled close to what ovn-nbctl provides, and missing parts were added gradually on-demand, and some of them are still missing, such as setting options for routers, as you mentioned. I agree that in some cases it is better to support full object operations with all the properties, but at this point it is ok to combine mu

[2020-07-20 08:24] alexanderConstantinescu commented on #92
Yes, to not break compatibility we would definitely need to either add individual "setters" or add new methods allowing full object modification. I will try to look into doing this, given the time available to me. But for anyone following along: in case I don't post any updates here or file a PR, feel free to pick this task up.

[2020-08-14 00:27] girishmg opened #102 "In all of *ListImp() APIs allocate a slice with known capacity"
At scale, we are allocating more memory than that is required. Since we already know the number of logical resources ahead of time, just allocate the slice with the correct capacity.

For example, lsListImp() is better implemented as below.

[code]

[2020-08-14 00:30] cathy-zhou commented on #102
will take a look

[2020-08-24 18:12] trozet opened #104 "Cache syncing between write and read"
While integrating go-ovn into ovn-kubernetes @girishmg noticed that we could hit a problem performing an immediate read after a write. For example, if we:

1. create an object in ovsdb via go-ovn
2. immediately attempt to read that object

The read can fail because a write transaction never guarantees that the cache is updated when it returns. Therefore we need to wait for an update to happen from

[2020-08-24 18:27] abhat commented on #104
IMO, this complicates the logic at the go-ovn layer. The transaction is fairly orthogonal to the ovsdb updates. The go-ovn layer has to now keep track of the individual transactions and look for those specific commits to have percolated back via the notifier.

In the case of an immediate read following an object creation, the client of the library should rethink whether such a read is indeed neces

[2020-08-25 19:28] dcbw commented on #104
@abhat @trozet I'd agree that if we had a reconcile loop in ovnkube it might be OK to just let the transaction happen and have asynchronous notification of failure, but we don't. Plus, I have to believe that we want indication at the point of the transaction execution of success/failure so that we can do something intelligent there. It feels really weird to me to have a pattern of kicking off a tr

[2020-08-25 21:01] hzhou8 commented on #104
@trozet did you or @girishmg confirmed this a real issue with some test? In my opinion there shouldn't be a problem. The  transaction execution is blocked and guarantees the cache is already populated when the execute() returns. Take a look at these commits:

https://github.com/eBay/libovsdb/commit/47501432a00f96d1934da6f81e943d25f83d2bbf

https://github.com/cenkalti/rpc2/pull/14/commits/09ab3e86e

[2020-08-26 01:28] trozet commented on #104
thanks @hzhou8 ! We did not encounter this problem in testing, it was just through analysis of the code. Glad it is already taken care of.

[2020-08-26 02:46] abhat commented on #104
@hzhou8 this should work fine so long as the ovsdb-server IDL is guaranteeing the ordering of transaction responses vs. cache updates.

Another thing that comes to mind is currently, the `Execute()` API of the Client doesn't return to the callers the result of the transactions i.e. `[]libovsdb.OperationResult`. If it did that, the case we have in ovn-kubernetes for getting the row UUID of the LSP

[2020-08-26 07:04] hzhou8 commented on #104
@abhat That may be something to improve in libovsdb. I guess it is straightforward but need some API change? Maybe also consider specifying row UUID directly (so that you can directly use the same UUID of k8s objects), but it requires changes as well. (Now OVSDB supports specifying UUID by client).

[2020-08-26 20:17] abhat commented on #104
Actually, this is something in go-ovn Client library. Look at ` _, err := odbi.transact(odbi.db, ops...) ` in ovnimp.go.

[2020-08-27 01:53] girishmg commented on #104
@hzhou8 @trozet the issue was not about whether the transaction is synchronous or not. The issue was that the new object that gets created through ovsdb `transact` may not be immediately available in the go-ovn cache.

[code]

The question was if we do this

[code]

now the `lsInfo` will not have the information about `dummy` Logical Switch.

The go-ovn client will not have the information yet bec

[2020-08-27 02:32] trozet commented on #104
@girishmg I thought what @hzhou8 mentioned was that with the ordering of the messages, we call goovn.transact() that wont return until we get a response from the transaction + we are guaranteed an update arrives before the transaction response. Meaning that the time that transact returns to us the cache has already been updated.

[2020-08-27 07:02] hzhou8 commented on #104
@girishmg First of all the example you gave is wrong. LSGet() doesn't returns a command. Since it reads the cache it directly returns the objects. So the right example would be:

lsCmd, _ := ovnDBClient.LSAdd("dummy")
lsCmd.Execute()
lsList := ovnDBClient.LSGet("dummy")

The RPC message ordering ensures the above code lsList will always get "dummy" (unless the DB transaction failed).

@trozet 's u

[2020-08-27 15:48] girishmg commented on #104
@hzhou8 sorry, I wrote that example in a hurry, and I was focusing more on the flow and expectations.

So, I enabled `jsornrpc` and `ovsdb_jsonrpc_server` logging on the ovsdb-server and ran LRAdd() and LRGet(). This is what I saw in the log files.

1. 2020-08-27T15:18:52.568Z|00040|jsonrpc|DBG|tcp:192.168.56.1:58180: received request, method="transact", params=["OVN_Northbound",{"uuid-name":"rowf

[2020-08-27 16:40] abhat commented on #104
This is indeed not specified in RFC, but an implementation detail that Ben
had called out in
https://mail.openvswitch.org/pipermail/ovs-discuss/2017-March/043858.html

On Thu, Aug 27, 2020 at 11:48 AM Girish Moodalbail <notifications@github.com>
wrote:

[2020-08-27 21:53] JacobTanenbaum opened #107 "Update testing environment"
The testing environment is out of date, It would be better to bring in a more updated version of openvswitch and ovn to test against.

As part of updating LRSRAdd() to support ecmp routes it I found that the version of ovs/ovn tested against does not support ecmp routes.

[2020-08-28 06:47] noah8713 commented on #107
yes ci can be improved to be switched to use ovs master and ovn 20.xx (latest)/master. Do you want to pick it up ? Else we can plan to pick it too cc @vtolstov @hzhou8

[2020-08-28 06:48] #102 closed

[2020-08-28 13:00] JacobTanenbaum commented on #107
Yes, I should be able to pick this up

[2020-08-28 20:54] trozet commented on #104
dont mean to keep reopening this, but now I think we are seeing this in logs:

[code]

[2020-08-28 22:54] #107 closed

[2020-08-28 23:59] hzhou8 commented on #104
Interesting. After adding the set_blocking() feature in the rpc2 package I never saw this happen. If the right version is in use, I wonder if it is something else, such as transaction failed but appeared to be successful. Is this reproducible? If so, could you add some logs in the libovsdb's update function and Transaction function respectively, to see if the update notification and transaction re

[2020-09-02 04:18] trozet commented on #104
@hzhou8 managed to make it reproducible in the upstream ovn-kubernetes project. I think I see what is happening. We still use the ovn-nbctl cmd to delete the port. So in quick succession of pod delete then add, I think the port is gone in OVN NB, but an LSP get right after for port create hits the cache in go-ovn before it is update that the port is deleted. I modified our code slightly to illustr

[2020-09-02 04:59] trozet commented on #104
Can confirm the above commit fixes the problem. Sorry for the noise @hzhou8

[2020-09-02 04:59] #104 closed

[2020-10-29 11:00] aojea opened #112 "Add new loadbalancer fields"
The OVN LoadBalancer added some new fields in the last releases
[code]

but go-ovn only have

https://github.com/eBay/go-ovn/blob/da67e9744ec05bf817ef2de7128971f235b921c3/load_balancer.go#L25-L32

xref:
https://github.com/ovn-org/ovn/blob/master/ovn-nb.ovsschema#L188
http://manpages.ubuntu.com/manpages/hirsute/man5/ovn-nb.5.html#load_balancer%20table

[2020-10-29 11:01] aojea commented on #112
I can work on this, just need some guidance on how to implement new fields keeping compatibility between ovn versions

[2020-10-30 06:18] hzhou8 commented on #112
@aojea Thanks for volunteering on this. For compatibility:
1) from OVSDB to go-ovn, if a column doesn't exist, just leave the go-ovn fields empty.
2) from go-ovn to OVSDB, if a column doesn't exist in schema, then don't add it to the transaction row. This may need a little more effort to check the DB schema.

[2020-12-03 00:39] #112 closed

[2020-12-16 02:40] #62 closed

[2020-12-18 09:49] amorenoz opened #119 "crash on populateCache"
Sometimes, when the cache is populated (e.g: on `goovn.NewClient()`) the library _can_ crash the program (in several ways). An example crash traceback is here:

[code]

The reason behind it is the lack of table order enforcement in `PopulateCache` due to golang not guaranteeing maps are ranged in the same order they are created. This _can_  make a `LogicalRouter` object be created before its `Logi

[2020-12-21 08:04] amorenoz commented on #119
Fixed by #116

[2020-12-21 08:04] #119 closed

[2020-12-21 11:14] amorenoz commented on #29
@vtolstov , @hzhou8 What is the status of this enhancement?
I think I'd be able to allocate some cycles to help on this effort if needed.

[2020-12-22 10:26] vtolstov commented on #29
i don't have time to finish it. may be the best - generate needed struct from schema and replace own handmade stuff
after that rewrite api interfaces

[2020-12-22 14:44] amorenoz commented on #29
I have coded a small PoC based on @vtolstov's and some old code I had. The result is here:
https://github.com/amorenoz/go-ovn/commits/poc/crud-api
(used a new table: Datapath_Binding from SouthBound)

Since there is no proposal for an API (let's discuss this!), I've implemented an API that resembles a ORM:
https://github.com/amorenoz/go-ovn/blob/be88c59e1074b54956d632c38165123ee6644c36/datapath_bi

[2020-12-25 19:49] vtolstov commented on #29
sorry i need more time to dig.
Firstly i don't like
[code]
usually List, returns slice and err like datas, err := ovndbapi.List()

Same thing for Get...

[2021-01-05 07:56] amorenoz commented on #29
Thanks for taking some time to look into it!

I took inspiration from a well-known, widely-used [Golang ORM ](https://gorm.io/docs/query.html)
It also resembles the widely used json {un,}marshal functions where the information of how to translate from json to struct is encoded in the stuct's 'tags' (credit's are yours @vtolstov for this)
This also allows the API to be expanded without requiring li

[2021-01-05 09:45] vtolstov commented on #29
i'm prefer this style:
[code]

so list of switches looks like
[code]

[2021-01-05 10:05] mangelajo opened #123 "Missing support for logical router policies"
From the submariner project we use go-ovn, and we noticed that policies on routers are missing, for
now we were using ovn-nbctl. But I will be sending a patch to support policies here so we can get rid of ovn-nbctl usage.

[2021-01-05 22:48] anfredette opened #124 "acl add/delete code isn't handling "nil" for external_ids correctly"
When external_ids == nil, the code excludes external_ids from the search
criteria. Because of this, aclAdd with external_ids == nil will match an
existing ACL with external_ids != nil, while the opposite isn't true.

This issue can be reproduced as follows:
- add an ACL with external_ids.
- add the same ACL without external_ids. This should work, but the second add
will fail with an "object exist"

[2021-01-05 23:39] hzhou8 commented on #123
Thanks @mangelajo

[2021-01-07 16:36] anfredette commented on #124
I found another issue while testing.  The code in getACLUUIDByRow() was checking whether the external_ids provided were a subset of the external id's for an existing ACL.

So, for example, if we have:
cmd, err = ovndbapi.ACLAdd(LSW, "to-lport", MATCH_SECOND, "drop", 1001, map[string]string{"A": "a", "B": "b"}, false, "", "")

The following delete command will match the above ACL and delete it:
cmd

[2021-01-11 08:15] hzhou8 commented on #29
@amorenoz Sorry for the slow response. The POC looks promising. I need more time to study the Golang ORM example. Feel free to send a PR to the repo. (In fact I think ebay/libovsdb is where the major part of change should go)

My answers to some of your questions:

I think it is important to return a command, so that it can be combined and executed together with other commands as a single transact

[2021-01-12 11:23] amorenoz commented on #29
Thanks @hzhou8, once there is consensus on the high level API, I'll send a PR.

Should "reading" functions (such as List(), Get()) be the same?

Right, but the IDL generation is at compile time, right?
So go-ovn should use a specific version of the schema to generate it's code and it's the user's responsibility to use a version of go-ovn compatible with it's ovn DB schema?
Or, alternatively, is th

[2021-01-12 23:46] anfredette commented on #124
I updated the description based on a discussion with @hzhou8 on the desired behavior.

[2021-01-14 05:45] winsopc opened #127 "introduce API force reconnect() for update SSL cert"
for SSL-based goovn client,  if the TLSconfig cert updated based on security, the client needs to disconnect the live connection and connect again use the updated TLSconfig.
@hzhou8  Any suggestions about how to support this?

the API can use internal function c.client.disconnect() and reconnect() I think.

[2021-01-14 06:00] vtolstov commented on #127
tls config struct already have methods to get cert so you don't need to restart app for mTLS like stuff, but why you need to drop old connection forcable ?

[2021-01-14 06:57] winsopc commented on #127
@vtolstov thanks for the quick reply.
Could you please share more info about how tlsconfig automatic load new key pairs?
I am referring the code goovn usage in ovn-kubernetes.
https://github.com/ovn-org/ovn-kubernetes/blob/master/go-controller/pkg/util/go_ovn.go
L70-L98.
cert, err := tls.LoadX509KeyPair(certFile, privKeyFile)
if the certFile, privKeyFile content changed,  my thinking is I need get

[2021-01-14 07:06] vtolstov commented on #127
in this case this is not possible, you need to extend ovn-kubernetes to use https://golang.org/pkg/crypto/tls/#Config
GetCertificate func(*ClientHelloInfo) (*Certificate, error) // Go 1.4
and
GetClientCertificate func(*CertificateRequestInfo) (*Certificate, error) // Go 1.8

mostly you need to read google about mTLS in golang and dynamic certs

[2021-01-14 19:39] winsopc commented on #127
Thanks for the info.
From the comments in the function:

// GetClientCertificate may be called multiple times for the same
--
  |   | // connection if renegotiation occurs or if TLS 1.3 is in use.
  |   | GetClientCertificate func(*CertificateRequestInfo) (*Certificate, error)

The function can be called when Server-side starts renegotiation when after the client in the connected state.
For goovn.

[2021-01-14 21:22] vtolstov commented on #127
yesm may be, i don't know about tls version in ovn =(

[2021-01-19 05:54] hzhou8 commented on #127
I think an API like ForceReconnect() would be no different than calling Close() and NewClient() again. Maybe we should find a better to way to support dynamic cert rotation (maybe support it from ovsdb server side first).

[2021-01-19 06:17] hzhou8 commented on #29
"reading" functions should directly return the results. In addition, for efficiency, we should provide an interface to iterate the local cache instead of duplicate the whole result list by a List() function.

Yes.

Yes. Do you think this is reasonable?

I didn't thought about this. Too generic API may be harder to use, but I didn't think deeply on this option.

[2021-01-19 08:02] amorenoz commented on #29
Good idea!

It might be complicated. Layered projects might want to stick with an old version of go-ovn feature-wise while supporting newer ovn schemas. That would put some pressure into go-ovn for being very conservative in the changes it introduces. The alternative would be to clone the entire repository per supported ovn version.

Plus, you have the problem of guaranteeing what version of ovn y

[2021-01-19 10:53] vtolstov commented on #29
we can generate structs for all needed ovn versions in different dirs. libovsdb may check ovn version on connect and return needed structs to go-ovn. and go-ovn may return needed data depending on ovn version i think

[2021-01-19 10:55] vtolstov commented on #127
@hzhou8 yeah, i think so

[2021-01-19 18:32] winsopc commented on #127
@hzhou8 thanks for your comments.
Yes, the application can use the current API to finish the task using your suggested method.
The reason I am thinking to introduce this API is making the current ovn-k8s code easy to support it.
From the application level,  if it detects cert/key pair change, then just update the tlsConfig cert file with goovn.Client.ForceReconnect().

[2021-01-20 10:23] amorenoz commented on #29
OK, sounds good. How about the following for the API:

[code]

How does that look to you?
Some questions:
- In order to implement a zero-copy iterator, the internal cache should be changed to store interface{} (already decoded according to the ovndb schema). Right?
- Technically, the dependency is not with the version of OVN but with the version of the ovn-nb.ovsschema and ovn-sb.ovsschema, which

[2021-01-20 12:44] amorenoz commented on #29
Another question:
This API is more generic than the existing one, meaning: we would be replacing the existing "concrete" API that has functions such as `LSPGetDHCPv4Options()` or `LinkSwithToRouter` with this one. Right?
If we wanted to still have these concrete functions we would have to, either generate them per schema version (and that's quite a lot of generated code) or have it do some reflex

[2021-01-21 09:28] amorenoz commented on #29
I have updated my PoC to expose the API @vtolstov suggests:
The API is exposed in a new [struct](https://github.com/amorenoz/go-ovn/blob/aa9654df31bab9de84bac9fa90b0e93989667c18/datapath_binding.go#L42-L64)
The client using the API can be seen [here](https://github.com/amorenoz/go-ovn/blob/aa9654df31bab9de84bac9fa90b0e93989667c18/datapath_binding_test.go#L16)

We would need to create a tool that g

[2021-01-21 12:50] vtolstov commented on #29
client using the api looks good to me.
@hzhou8 what you think?

[2021-01-26 10:42] amorenoz commented on #29
@hzhou8, @vtolstov Any chance you could give your opinion on the questions above? I'd like to start implementing, but I would need to know there is an agreement on the general approach and API first.
Thanks

[2021-02-02 07:28] amorenoz commented on #29
@vtolstov @hzhou8 Any updates? I'm waiting for some feedback from you to proceed.
I opened an issue in libovsdb to start exposing a somewhat native API there (https://github.com/eBay/libovsdb/issues/29) as well as a PR to support schema parsing (https://github.com/eBay/libovsdb/pull/28).
Are we OK with the approach?

[2021-02-06 06:45] #127 closed

[2021-03-02 19:36] vgozer opened #137 "ACL: missing 'name' field support"
nameless ACLs matching evens in logs look like this:
`2021-03-02T19:29:05.415Z|06852|acl_log(ovn_pinctrl0)|INFO|name="<unnamed>", verdict=drop, severity=debug: ...`
which is not good ...
trivial to add 'name' field support, but this will change the API signature for ACLAddEntity (extra parameter). Can keep the signature and pass the name in external_ids, but it's ugly... adding a new one (ACLAddEn

[2021-03-15 22:28] anfredette commented on #137
I don't have a problem extending the ACLAddEntity API.  This API is fairly new, so it's probably not widely used.  I currently have a draft PR open on ovn-kubernetes that uses it, but I need to add some additional APIs to go-ovn before it can be merged anyway.

ovn-kubernets uses ACL name a lot, so I've been thinking about how to handle it.  We could change ovn-kubernetes to not use ACL name, stas

[2021-03-16 12:06] anfredette opened #138 "ACL set APIs needed for match criteria and logging"
ovn-kubernetes requires the ability to modify the match criteria and/or logging configuration for an existing ACL.

[2021-03-26 22:11] hzhou8 commented on #137
Adding columns in OVSDB schema is expected over time, but creates problems for go-ovn lib. If we want to keep the backward compatibility, we may have to add new APIs, probably with suffix V2/V3/..., which is not ideal.

I hope this can be solved eventually by API auto-generation. One approach is to generate APIs for different versions of schema to different packages, and let client decide which ve

[2021-03-26 22:50] vgozer commented on #137
@hzhou8 @anfredette  ACLAddEntity(..., name, ...) would work for me, in the interim. can it be coupled with ACLDelEntity(..., name, ...)?

[2021-03-29 15:43] anfredette commented on #137
I've looked into this a bit this morning.  I was originally thinking the name field could be used effectively as an index as is done for some other objects.  However, if I'm reading the OVN NB schema correctly, name is an optional field for ACL, and there is no requirement that it be unique either within the ACL table or within a particular Logical Switch or Port Group.  @hzhou8, @vgozer, do you a

[2021-03-29 18:12] hzhou8 commented on #137
@anfredette Yes, in fact the "name" field of some other tables, such as LogicalSwitch, are also non-unique. I agree this is tricky, like what we did for LogicalSwitch. If duplicated names are added (not possible from go-ovn API, but possible by other means), the behavior can be undermined. We can of course error out in that situation in go-ovn.

Alternatively, we could create APIs that operates wi

[2021-03-30 01:53] vgozer commented on #137
@anfredette @hzhou8 name field being non-unique may be there for a good reason - ACLs can be grouped for logging purposes, e.g., we want to log events after some policy name for related rules vs after the individual rule. Artificially requiring 'name' to be a unique key in lower-level APIs doesn't seem right. @hzhou8 suggestion looks right to me:

for SetLog(), I'd use uuid[] list instead of scala

[2021-03-30 02:39] anfredette commented on #137
I agree.  I'm not comfortable arbitrarily enforcing uniqueness on the ACL name field.

I like this form, though I'd be inclined to include name in the ACLAddEntity since we don't have a need to change it after the ACL is created.  That said, I'd be happy to include a set command if others need it.

Also, ExectuteR() can now be used to get the uuid when the ACL is created, so there's no need to do

[2021-03-31 23:12] vgozer commented on #137
@hzhou8

correction/clarification: yes, new method, Get() or Search() to not be confused with List() and searchTerm should've been a map[string]string (or interface{} as value), i.e., column:value - e.g., 'name' : 'PolicyBlockBadGuys'. This method would iterate on all cached acl rows and match fields with the provided map, returning uuids slice. Then we use the returned slice immediately for SetLo

[2021-04-01 18:54] anfredette commented on #137
@hzhou8, @vgozer, I updated the ACL API based on this discussion.  Well, I actually took it a little farther and used UUIDs for both entity and ACL.  I've reviewed all of the ovn-kubernetes ACL code and believe this will meet all of the current requirements.

This code doesn't work yet. I'm holding off on implementing the supporting code until I get the thumbs up. Please let me know what you think

[2021-04-30 14:02] fedepaol opened #147 "When reconnecting, deleted rows are not handled"
We have the following scenario in ovnk.
Some records (in this case LSPs) are deleted from nbdb, and a few seconds after we see a disconnection:

[code]

What I am seeing is that, after the reconnection, the cache still contains one of those records which was supposed to be deleted.
What I believe is happening is that when we reconnect, and we try to re-align the cache contents in
https://github.co

[2021-04-30 14:03] fedepaol commented on #147
cc @trozet

[2021-04-30 14:17] dave-tucker commented on #147
@fedepaol this makes sense.

When disconnected you won't get events for a deletion and there is no mechanism to remove stale entries.
The simplest fix would be to (re)initialize the cache before the Monitor.

[code]

Or I guess you could get fancy and provide an `intial bool` to `populateCache` and have it delete stale entries.

Also looking at the code, this looks like another potential bug:
http

[2021-04-30 15:51] abhat commented on #147
if the notifier is registered before calling `c.MonitorTables("")`, we would still get updates for events in flight?

[2021-04-30 15:56] fedepaol commented on #147
Oh, nice. I thought only to the below one, but this seems way more straightforward and less error prone.

I'll try to push a fix that locks the mutex while doing the initial load so it has precedence over the callbacks.

[2021-04-30 15:57] fedepaol commented on #147
Not sure I get the question right, but If we register it before (and it's registered), there can't be missed events because we make sure that there are no holes between the initial dump (`MonitorTables`) and when we add the notifier.

[2021-04-30 16:00] abhat commented on #147
Correct, I think Dave is concerned that the notifier is registered later
right now and there is a potential window between calling MonitorTables and
Register where if any event gets fired, it will be missed.

On Fri, Apr 30, 2021, 11:57 Federico Paolinelli ***@***.***>
wrote:

[2021-05-01 16:02] dave-tucker commented on #147
i'm not sure what you mean by "in flight", but, if a transaction was executed before the monitor was called, it would be in the initial state, if after it would come as an update.

[2021-05-05 15:19] hzhou8 commented on #147
Fixed by https://github.com/eBay/go-ovn/pull/148

In the future if libovsdb implements ovsdb monitor3 method, we will be able to keep the cache and ask the server for updates start from our last synced point so that no update will be missed and at the same time avoid resyncing all rows from server.

[2021-05-05 15:19] #147 closed

[2021-10-05 17:15] martinkennelly opened #154 "Exposing IPSec enabled/disabled API"
Hey all,
I'd love to have an API in this lib to check if IPsec is enabled. Its available as a bool in nb_global table.
Any interest in exposing that?

Thank you,

[2021-10-06 08:59] martinkennelly commented on #154
Found a workaround.

[2021-10-06 08:59] #154 closed, assigned to nobody

[2022-03-07 13:09] jepenchou opened #155 "logical_router_policy do not handle the situation nexthops contains only one item"
for _, n := range cacheLogicalRouterPolicy.Fields["nexthops"].(libovsdb.OvsSet).GoSet {
		lrpolicy.NextHops = append(lrpolicy.NextHops, n.(string))
	}

when nexthops only contains one item,  it panics.

[2022-08-14 16:47] neo-hu opened #156 "Support may-exist or --if-exists?"
Support ovn-nbctl --if-exists lr-del  default?